<a href="https://colab.research.google.com/github/erikapaceep/NLP/blob/main/NER_reddit_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
client_ids = 'oZOgedIt3lhtw277JyZ1nw'
secret = 'DGwZLli8AuQ1pZoBAe9yR0TPtUET9g'

In [ ]:
import requests

In [ ]:
auth = requests.auth.HTTPBasicAuth(client_ids, secret)

In [ ]:
with open ('Reddit_pw.txt','r') as fp:
  pw = fp.read()

In [ ]:
data = {'grant_type':'password',
        'username':"ErikaPax",
        'password':pw
}

In [ ]:
data

{'grant_type': 'password', 'username': 'ErikaPax', 'password': 'Lilliviola88!'}

In [ ]:
# we need to create a headers which give reddit a brief description of our app: we need to include a user agent key

In [ ]:
headers = {'User-Agent':'UdemyTutorial/0.0.1'}

In [ ]:
# After this we can send a request for our token
res = requests.post('https://www.reddit.com/api/v1/access_token',
                   auth=auth, 
                   data=data, # which represent log in details
                   headers=headers
                   )

In [ ]:
res

In [ ]:
# now to pull the access token from this we need to 
token = res.json()['access_token']

In [ ]:
# we add the access token to the headers to that we can access the API
headers['Authorization'] = f'bearer {token}'
headers

{'User-Agent': 'UdemyTutorial/0.0.1',
 'Authorization': 'bearer 824244304381-Dk9ewucfMZJFh2NsgLiR3UrgmTp6lg'}

In [ ]:
# now in order to check that this has worked we need to send the request to a different
requests.get('https://oauth.reddit.com/api/v1/me',headers=headers)

this token will expire after 2 h and at that point we need to request to a new one

In [ ]:
# define the API address 
api = 'https://oauth.reddit.com'

In [ ]:
# to retrive post from subreddit we need to and store them in the res
res = requests.get(f'{api}/r/investing/new', headers=headers, params={'limit':'100'}) # the limit param specify the number of posts we would like to return at once, the default value is 25 and max is 100

In [ ]:
res.json()
# dist: 25 refers to  the number of posts we returned
# children: we have a list and inside that listwe have each of the post that have been returned. Each of the post includes the subreddit and the selftext, which is the text of the post, 
# we can also use the name so that we can loop back in time and retrive more data than just the 25

In [ ]:
d = res.json()
#d['data']['children'][0]['data']['selftext'] ,d['data']['children'][0]['data']['subreddit']
len(d['data']['children'])

100

In [ ]:
d

Extract the data we need

In [ ]:
import pandas as pd

In [ ]:
len(d)

2

In [ ]:
# this represent all the data we need for the use case .keys() gives us a list of all the items
d['data']['children'][0]['data'].keys()

dict_keys(['approved_at_utc', 'subreddit', 'selftext', 'author_fullname', 'saved', 'mod_reason_title', 'gilded', 'clicked', 'title', 'link_flair_richtext', 'subreddit_name_prefixed', 'hidden', 'pwls', 'link_flair_css_class', 'downs', 'top_awarded_type', 'hide_score', 'name', 'quarantine', 'link_flair_text_color', 'upvote_ratio', 'author_flair_background_color', 'subreddit_type', 'ups', 'total_awards_received', 'media_embed', 'author_flair_template_id', 'is_original_content', 'user_reports', 'secure_media', 'is_reddit_media_domain', 'is_meta', 'category', 'secure_media_embed', 'link_flair_text', 'can_mod_post', 'score', 'approved_by', 'is_created_from_ads_ui', 'author_premium', 'thumbnail', 'edited', 'author_flair_css_class', 'author_flair_richtext', 'gildings', 'content_categories', 'is_self', 'mod_note', 'created', 'link_flair_type', 'wls', 'removed_by_category', 'banned_by', 'author_flair_type', 'domain', 'allow_live_comments', 'selftext_html', 'likes', 'suggested_sort', 'banned_at_utc', 'view_count', 'archived', 'no_follow', 'is_crosspostable', 'pinned', 'over_18', 'all_awardings', 'awarders', 'media_only', 'can_gild', 'spoiler', 'locked', 'author_flair_text', 'treatment_tags', 'visited', 'removed_by', 'num_reports', 'distinguished', 'subreddit_id', 'author_is_blocked', 'mod_reason_by', 'removal_reason', 'link_flair_background_color', 'id', 'is_robot_indexable', 'report_reasons', 'author', 'discussion_type', 'num_comments', 'send_replies', 'whitelist_status', 'contest_mode', 'mod_reports', 'author_patreon_flair', 'author_flair_text_color', 'permalink', 'parent_whitelist_status', 'stickied', 'url', 'subreddit_subscribers', 'created_utc', 'num_crossposts', 'media', 'is_video'])

In [ ]:
# We want to inlcude the name key, timestamp, create utc, subreddit, title, selftext, upvote_ratio (to analyze the score of different entities), ups, downs, score 
# -> these are all the info that we want form each post
df = pd.DataFrame({
    'name': [],
    'created_utc':[],
    'subreddit':[],
    'title':[],
    'selftext':[],
    'upvote_ration':[],
    'ups':[],
    'downs':[],
    'score':[]
})

In [ ]:
df['name']

Series([], Name: name, dtype: float64)

In [ ]:
text = list()
subreddit = list()
post_d = d['data']['children']
len(post_d)
for i in post_d:
  df = df.append({
    'name': i['data']['name'],
    'created_utc':i['data']['created_utc'],
    'subreddit':i['data']['subreddit'],
    'title':i['data']['title'],
    'selftext':i['data']['selftext'],
    'upvote_ratio':i['data']['upvote_ratio'],
    'ups':i['data']['ups'],
    'downs':i['data']['downs'],
    'score':i['data']['score']    
  }, ignore_index=True)

In [ ]:
df

,name,created_utc,subreddit,title,selftext,upvote_ration,ups,downs,score,upvote_ratio
0,t3_zoftf4,1.671310e+09,investing,Where can I download company financial data?,Does anyone know of a good site where I can do...,NaN,2.0,0.0,2.0,1.00
1,t3_zofhkd,1.671309e+09,investing,Why do people want a Recession so bad?,I don't think most people understand what a Re...,NaN,0.0,0.0,0.0,0.17
2,t3_zoejwb,1.671307e+09,investing,Future of ETFs and potential downsides?,Caveat: Still new to all of this but I am seri...,NaN,3.0,0.0,3.0,1.00
3,t3_zoeh05,1.671307e+09,investing,Swap VOO for DGRO for max returns,I am 40 years old and just started investing. ...,NaN,3.0,0.0,3.0,1.00
4,t3_zoe1ah,1.671305e+09,investing,Why is that T Bill yield does not jump after F...,I was waiting to buy some bonds after rate hik...,NaN,7.0,0.0,7.0,1.00
...,...,...,...,...,...,...,...,...,...,...
95,t3_zl5nyx,1.670963e+09,investing,Where can we find good due diligence stock pos...,Is there any particular reddit sub? Discord? ...,NaN,8.0,0.0,8.0,0.69
96,t3_zl4n6m,1.670960e+09,investing,Pay off mortgage or invest?,**Question:** I have $200k left on my mortga...,NaN,254.0,0.0,254.0,0.89
97,t3_zl4k4d,1.670960e+09,investing,Are Robinhood IRA/Retirement accounts insured ...,Just got off the waitlist for an IRA account a...,NaN,5.0,0.0,5.0,0.59
98,t3_zl462c,1.670959e+09,investing,CVR Partners High Dividend Ticker UAN,I’m looking into adding CVR partners into my d...,NaN,0.0,0.0,0.0,0.50
99,t3_zl3a28,1.670957e+09,investing,"With a recession coming, is it a good idea to ...","With a recession just around the corner, is it...",NaN,0.0,0.0,0.0,0.46

In [ ]:
# In order for us to loop in time and make more request we need to use the name 
df['name'].iloc[len(df)-1]

't3_zl3a28'

In [ ]:
# now we can merge this to our request by adding a param dict
res = requests.get(f'{api}/r/investing/new', headers=headers,
                   params={'limit':'100',
                           'after':df['name'].iloc[len(df)-1]}) # we are going to get everything that comes before

In [ ]:
# we can put into a loop - but we need to give an exit condition in order to decide when to exit the loop, when we get enough data
while True:
  res = requests.get(f'{api}/r/investing/new', headers=headers,
                   params={'limit':'100',
                           'after':df['name'].iloc[len(df)-1]})
  if len(res.json()['data']['children'])==0:
    break

  for i in res.json()['data']['children']:
    df = df.append({
    'name': i['data']['name'],
    'created_utc':i['data']['created_utc'],
    'subreddit':i['data']['subreddit'],
    'title':i['data']['title'],
    'selftext':i['data']['selftext'],
    'upvote_ratio':i['data']['upvote_ratio'],
    'ups':i['data']['ups'],
    'downs':i['data']['downs'],
    'score':i['data']['score']            
    }, ignore_index=True)

In [ ]:
df

,name,created_utc,subreddit,title,selftext,upvote_ration,ups,downs,score,upvote_ratio
0,t3_zoftf4,1.671310e+09,investing,Where can I download company financial data?,Does anyone know of a good site where I can do...,NaN,2.0,0.0,2.0,1.00
1,t3_zofhkd,1.671309e+09,investing,Why do people want a Recession so bad?,I don't think most people understand what a Re...,NaN,0.0,0.0,0.0,0.17
2,t3_zoejwb,1.671307e+09,investing,Future of ETFs and potential downsides?,Caveat: Still new to all of this but I am seri...,NaN,3.0,0.0,3.0,1.00
3,t3_zoeh05,1.671307e+09,investing,Swap VOO for DGRO for max returns,I am 40 years old and just started investing. ...,NaN,3.0,0.0,3.0,1.00
4,t3_zoe1ah,1.671305e+09,investing,Why is that T Bill yield does not jump after F...,I was waiting to buy some bonds after rate hik...,NaN,7.0,0.0,7.0,1.00
...,...,...,...,...,...,...,...,...,...,...
928,t3_ygm6mb,1.667056e+09,investing,Investing in times of inflation and recession?,"Hi!\n\nSince markets are unpredictable, whats ...",NaN,2.0,0.0,2.0,0.55
929,t3_ygm6gn,1.667056e+09,investing,Capital One Economic Replacement Value (ERV),I was going to open CDs with capital one and I...,NaN,0.0,0.0,0.0,0.33
930,t3_yghqx7,1.667045e+09,investing,"Where Are Markets Headed? Six ""Pros"" Take Thei...",&lt;posting here to seek feedback from communi...,NaN,50.0,0.0,50.0,0.70
931,t3_yghjb8,1.667044e+09,investing,An excellent masterclass of Howard Marks inves...,"**""It's all about Risk Control and Consistency...",NaN,252.0,0.0,252.0,0.89
932,t3_ygeo24,1.667034e+09,investing,Daily General Discussion and Advice Thread - O...,Have a general question? Want to offer some c...,NaN,5.0,0.0,5.0,0.73

In [ ]:
# now we need to replace all the | in the dataframe, we can save our file with the | character
df = df.replace({'|':''}, regex=True)

In [ ]:
df.to_csv('reddit_investing.csv', sep='|', index=False)

### Tagging organization from that subreddit data

In [ ]:
import spacy
import pandas as pd

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
# we also need to read our csv file
df = pd.read_csv('reddit_investing.csv', sep='|')
df

,name,created_utc,subreddit,title,selftext,upvote_ration,ups,downs,score,upvote_ratio
0,t3_zoftf4,1.671310e+09,investing,Where can I download company financial data?,Does anyone know of a good site where I can do...,NaN,2.0,0.0,2.0,1.00
1,t3_zofhkd,1.671309e+09,investing,Why do people want a Recession so bad?,I don't think most people understand what a Re...,NaN,0.0,0.0,0.0,0.17
2,t3_zoejwb,1.671307e+09,investing,Future of ETFs and potential downsides?,Caveat: Still new to all of this but I am seri...,NaN,3.0,0.0,3.0,1.00
3,t3_zoeh05,1.671307e+09,investing,Swap VOO for DGRO for max returns,I am 40 years old and just started investing. ...,NaN,3.0,0.0,3.0,1.00
4,t3_zoe1ah,1.671305e+09,investing,Why is that T Bill yield does not jump after F...,I was waiting to buy some bonds after rate hik...,NaN,7.0,0.0,7.0,1.00
...,...,...,...,...,...,...,...,...,...,...
928,t3_ygm6mb,1.667056e+09,investing,Investing in times of inflation and recession?,"Hi!\n\nSince markets are unpredictable, whats ...",NaN,2.0,0.0,2.0,0.55
929,t3_ygm6gn,1.667056e+09,investing,Capital One Economic Replacement Value (ERV),I was going to open CDs with capital one and I...,NaN,0.0,0.0,0.0,0.33
930,t3_yghqx7,1.667045e+09,investing,"Where Are Markets Headed? Six ""Pros"" Take Thei...",&lt;posting here to seek feedback from communi...,NaN,50.0,0.0,50.0,0.70
931,t3_yghjb8,1.667044e+09,investing,An excellent masterclass of Howard Marks inves...,"**""It's all about Risk Control and Consistency...",NaN,252.0,0.0,252.0,0.89
932,t3_ygeo24,1.667034e+09,investing,Daily General Discussion and Advice Thread - O...,Have a general question? Want to offer some c...,NaN,5.0,0.0,5.0,0.73

In [ ]:
#create a function to get the entities
from spacy import displacy
def get_orgs(text):
  doc=nlp(text)
  #displacy.render(doc, style='ent', jupyter=True)
  org_list = []
  for i in doc.ents:
    if i.label_ == 'ORG':
      org_list.append(i.text)
  org_list = list(set(org_list))
  return org_list

for i in range(1,5):
  org_List = get_orgs(df['selftext'][i])
#org_List

type(org_List)

list

In [ ]:
def get_orgs(text):
    # process the text with our SpaCy model to get named entities
    doc = nlp(text)
    # initialize list to store identified organizations
    org_list = []
    # loop through the identified entities and append ORG entities to org_list
    for entity in doc.ents:
        if entity.label_ == 'ORG':
            org_list.append(entity.text)
    # if organization is identified more than once it will appear multiple times in list
    # we use set() to remove duplicates then convert back to list
    org_list = list(set(org_list))
    return org_list

df['organizations'] = df['selftext'].astype(str).apply(get_orgs)
df.head()

,name,created_utc,subreddit,title,selftext,upvote_ration,ups,downs,score,upvote_ratio,organizations
0,t3_zoftf4,1.671310e+09,investing,Where can I download company financial data?,Does anyone know of a good site where I can do...,NaN,2.0,0.0,2.0,1.00,[CSV]
1,t3_zofhkd,1.671309e+09,investing,Why do people want a Recession so bad?,I don't think most people understand what a Re...,NaN,0.0,0.0,0.0,0.17,[KFC]
2,t3_zoejwb,1.671307e+09,investing,Future of ETFs and potential downsides?,Caveat: Still new to all of this but I am seri...,NaN,3.0,0.0,3.0,1.00,[VOO]
3,t3_zoeh05,1.671307e+09,investing,Swap VOO for DGRO for max returns,I am 40 years old and just started investing. ...,NaN,3.0,0.0,3.0,1.00,[VOO]
4,t3_zoe1ah,1.671305e+09,investing,Why is that T Bill yield does not jump after F...,I was waiting to buy some bonds after rate hik...,NaN,7.0,0.0,7.0,1.00,[Fed]

In [ ]:
print(df['selftext'])

0      Does anyone know of a good site where I can do...
1      I don't think most people understand what a Re...
2      Caveat: Still new to all of this but I am seri...
3      I am 40 years old and just started investing. ...
4      I was waiting to buy some bonds after rate hik...
                             ...
928    Hi!\n\nSince markets are unpredictable, whats ...
929    I was going to open CDs with capital one and I...
930    &lt;posting here to seek feedback from communi...
931    **"It's all about Risk Control and Consistency...
932    Have a general question?  Want to offer some c...
Name: selftext, Length: 933, dtype: object

In [ ]:
print(df['organizations'])

0                                                  [CSV]
1                                                  [KFC]
2                                                  [VOO]
3                                                  [VOO]
4                                                  [Fed]
                             ...
928                                                   []
929                                                [ERV]
930    [https://archive.ph/smiYq](https://archive.ph/...
931    [ARK, https://www.youtube.com/watch?v=lsUoFTsU...
932                                                [FAQ]
Name: organizations, Length: 933, dtype: object

In [ ]:
import numpy as np

list_org = []
for i in df['organizations']:
  for j in i:
    list_org.append(j)

x = pd.Series(list_org)
x.value_counts()

FAQ                                                                                         50
Wiki                                                                                        38
Fed                                                                                         32
Fidelity                                                                                    31
Vanguard                                                                                    20
                                                                                            ..
New Orleans(so                                                                               1
nomad                                                                                        1
Wells Fargo Financial                                                                        1
KFA                                                                                          1
https://www.youtube.com/watch?v=lsUoFTsUJZk](https://www.youtube.com/watch?v=lsUoFTsUJZk     1
Length: 1083, dtype: int64

In [ ]:
# Alternatively we can use the collection and the counter
from collections import Counter

In [ ]:
orgs = df['organizations'].to_list()

In [ ]:
# We need to convert a list of list in a single list: what we need to do is using lisst comprhension
org = [org for sublist in orgs for org in sublist]
org

In [ ]:
org_freq = Counter(org)
org_freq.most_common(15)

[('FAQ', 50),
 ('Wiki', 38),
 ('Fed', 32),
 ('Fidelity', 31),
 ('Vanguard', 20),
 ('VOO', 19),
 ('Apple', 16),
 ('treasury', 15),
 ('DCA', 15),
 ('fed', 13),
 ('Treasury', 13),
 ('Google', 13),
 ('ETF', 12),
 ('Amazon', 12),
 ('HSA', 11)]

# How to create a blacklist

In [ ]:
blacklist = ['ev','sec','fed','nyse','fda','faq','wiki']

In [ ]:
def get_orgs(text):
    # process the text with our SpaCy model to get named entities
    doc = nlp(text)
    # initialize list to store identified organizations
    org_list = []
    # loop through the identified entities and append ORG entities to org_list
    for entity in doc.ents:
        if entity.label_ == 'ORG' and entity.text.lower() not in blacklist:
            org_list.append(entity.text)
    # if organization is identified more than once it will appear multiple times in list
    # we use set() to remove duplicates then convert back to list
    org_list = list(set(org_list))
    return org_list

df['organizations'] = df['selftext'].astype(str).apply(get_orgs)
df.head()

,name,created_utc,subreddit,title,selftext,upvote_ration,ups,downs,score,upvote_ratio,organizations
0,t3_zoftf4,1.671310e+09,investing,Where can I download company financial data?,Does anyone know of a good site where I can do...,NaN,2.0,0.0,2.0,1.00,[CSV]
1,t3_zofhkd,1.671309e+09,investing,Why do people want a Recession so bad?,I don't think most people understand what a Re...,NaN,0.0,0.0,0.0,0.17,[KFC]
2,t3_zoejwb,1.671307e+09,investing,Future of ETFs and potential downsides?,Caveat: Still new to all of this but I am seri...,NaN,3.0,0.0,3.0,1.00,[VOO]
3,t3_zoeh05,1.671307e+09,investing,Swap VOO for DGRO for max returns,I am 40 years old and just started investing. ...,NaN,3.0,0.0,3.0,1.00,[VOO]
4,t3_zoe1ah,1.671305e+09,investing,Why is that T Bill yield does not jump after F...,I was waiting to buy some bonds after rate hik...,NaN,7.0,0.0,7.0,1.00,[]

In [ ]:
# Alternatively we can use the collection and the counter
from collections import Counter
orgs = df['organizations'].to_list()

# We need to convert a list of list in a single list: what we need to do is using lisst comprhension
org = [org for sublist in orgs for org in sublist]

org_freq = Counter(org)
org_freq.most_common(15)

[('Fidelity', 31),
 ('Vanguard', 20),
 ('VOO', 19),
 ('Apple', 16),
 ('treasury', 15),
 ('DCA', 15),
 ('Treasury', 13),
 ('Google', 13),
 ('ETF', 12),
 ('Amazon', 12),
 ('HSA', 11),
 ('SPY', 10),
 ('USD', 9),
 ('QQQ', 9),
 ('100k', 9)]